@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

html, body {
  min-height: 100%;
  width: 100%;
  background-color: #f7f9ff;
}

div#root {
  background-color: #f7f9ff;
}

/* ------------ navbar style ------------ */

.navbar {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.navbar-brand {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #1c7ed6 0%,
    #228be6 29%,
    #37b24d 67%,
    #d0ebff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3.5s linear;
  display: flex;
  font-size: 1.8em !important;
  font-family: "Michroma";
  padding-left: 1.5rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#input {
  margin: 2em;
  flex-direction: column;
}

::-webkit-input-placeholder {
  font-size: 13px !important;
  font-style: italic;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px !important;
  font-style: italic;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px !important;
  font-style: italic;
}

/* Form - input boxes */
#aqdvalue {
  display: flex;
  border: #e9ecef 1px solid;
  border-radius: 5px;
  margin-right: 1.5rem;
  font-family: "SourceSansProBold";
  margin-bottom: 1.2rem;
}

#aqdvalue:focus {
  outline: none;
}

#ltvalue {
  display: flex;
  border: #e9ecef 1px solid;
  border-radius: 5px;
  margin-right: 1.5rem;
  font-family: "SourceSansProBold";
}

#ltvalue:focus {
  outline: none;
}

#acavalue {
  display: flex;
  border: #e9ecef 1px solid;
  border-radius: 5px;
  margin-right: 1.5rem;
  font-family: "SourceSansProBold";
  margin-bottom: 1.2rem;
}

#acavalue:focus {
  outline: none;
}

label {
  font-family: "SourceSansPro";
}

/* ------------ buttons ------------  */

#calculate {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

div.btn.btn-two {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  background-color: #3b578e;
}

div.btn.btn-three {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  background-color: #3b578e;
}

.btn-two {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
.btn-two span {
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-three {
  color: #fff;
  transition: all 0.5s;
  margin-right: 1rem;
}

div[class*="box"] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------- results ------------ */

input#icl {
  display: flex;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: #e9ecef 1px solid;
  margin-right: 1.5rem;
  margin-left: 2rem;
  font-family: "SourceSansProBold";
  border-radius: 15px;
}

input#icl:focus {
  outline: none;
}

input#vaultvalue {
  display: flex;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: #e9ecef 1px solid;
  margin-right: 1.5rem;
  margin-left: 2rem;
  font-family: "SourceSansProBold";
  border-radius: 15px;
}

input#vaultvalue:focus {
  outline: none;
}

#cr {
  margin-left: 2rem;
}
