@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html,
body,
#root,
.App {
  height: auto;
  width: 100%;
  background: #fff;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------ responsive web ----------- */

@media only screen and (max-width: 630px) {
  .navbar {
    width: 100%;
    height: auto;
  }
  .results {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .access {
    font-size: small;
    display: flex;
    flex-direction: column;
    margin:0%;
  }
  .navbar-expand .navbar-nav {
    flex-direction: column;
  }
}

/* ------------ navbar style ------------ */

.navbar {
  max-width: 100%;
  height: 70px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  background-color: #f1f3f5;
}

.navbar-brand {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #1c7ed6 0%,
    #228be6 29%,
    #37b24d 67%,
    #d0ebff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3.5s linear;
  display: inline-block;
  font-size: 1.8em !important;
  font-family: 'Michroma';
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#input {
  margin-bottom: 2em;
  margin-top: 2em;
  flex-direction: column;
}

::-webkit-input-placeholder {
  font-size: 13px !important;
  font-style: italic;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px !important;
  font-style: italic;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px !important;
  font-style: italic;
}

/* Form - input boxes */
input#aqdvalue {
  display: flex;
  border: #e9ecef 1px solid;
  border-radius: 5px;
  font-family: 'SourceSansProBold';
  margin-bottom: 1.2rem;
}

input#aqdvalue:focus {
  outline: none;
}

input#ltvalue {
  display: flex;
  border: #e9ecef 1px solid;
  border-radius: 5px;
  font-family: 'SourceSansProBold';
}

input#ltvalue:focus {
  outline: none;
}

input#acavalue {
  display: flex;
  border: #e9ecef 1px solid;
  border-radius: 5px;
  font-family: 'SourceSansProBold';
  margin-bottom: 1.2rem;
}

input#acavalue:focus {
  outline: none;
}

input#iclvalue {
  display: flex;
  border: #e9ecef 1px solid;
  border-radius: 5px;
  font-family: 'SourceSansProBold';
}

input#iclvalue {
  outline: none;
}

label#icl-value {
  margin-top: 1.2rem;
}

label {
  font-family: 'Open Sans Condensed', sans-serif;
}

.access {
  margin-bottom: 1.5rem;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
}

/* ------------ buttons ------------  */

.button {
  background-color: #dee2e6;
  color: #000000;
  opacity: 0.8;
  text-transform: uppercase;
  vertical-align: bottom;
  border: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  font-weight: 500;
  padding: 0.625rem 1.5rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  cursor: pointer;
}

.buttons {
  display: flex;
}

.btn-two {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
  transition: all 0.5s;
}

.btn-three {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
  transition: all 0.5s;
  margin-right: 1rem;
}

div[class*='box'] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------- results ------------ */

div#icl {
  display: flex;
  margin-bottom: 1.5rem;
  /* border: none; */
  /* border-bottom: #e9ecef 1px solid; */
  margin-right: 3.5rem;
  margin-left: 2rem;
  font-family: 'SourceSansProBold';
  justify-content: center;
  align-items: center;
  min-width: 50px;
}

div#icl:focus {
  outline: none;
}

div#vaultvalue {
  display: flex;
  margin-bottom: 1.5rem;
  border: none;
  /* border-bottom: #e9ecef 1px solid; */
  margin-right: 1.5rem;
  margin-left: 2rem;
  font-family: 'SourceSansProBold';
  border-radius: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 50px;
}

div#vaultvalue:focus {
  outline: none;
}

label#cr {
  text-align: center;
}

.results {
  margin-top: 1rem;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-text);
  color: grey;
  font-family: 'SourceSansProBold';
}